<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0D15F0B4-97B3-4F2D-9AF5-FAF5DD8AED05</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>https://www.dropbox.com/s/gje3qoeq22n9t86/320H.jpg?dl=1</string>
			<key>url</key>
			<string>https://www.dropbox.com/s/gje3qoeq22n9t86/320H.jpg?dl=1</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1708D0D3-D5A0-42F5-BB77-46D4A1CB94CF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bdimgs</string>
			<key>text</key>
			<string>Search Baidu Images for '{query}'</string>
			<key>url</key>
			<string>http://image.baidu.com/search/index?tn=baiduimage&amp;ps=1&amp;ct=201326592&amp;lm=-1&amp;cl=2&amp;nc=1&amp;ie=utf-8&amp;word={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2765C4B5-4EF2-4596-94D4-4A49518C89E1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>Search Baidu for ''{query}</string>
			<key>url</key>
			<string>https://www.baidu.com/s?ie=utf-8&amp;f=8&amp;rsv_bp=0&amp;rsv_idx=1&amp;tn=baidu&amp;wd={query}&amp;rsv_pq=b0d39065001cc0fa&amp;rsv_t=bc2dV98%2FaV4j9gp7H4KdHq0RoY%2BzJszDvzK1ZOQ%2Fj3LiJMS4ENeDGzyatKE&amp;rqlang=cn&amp;rsv_enter=1&amp;rsv_sug3=3&amp;rsv_sug2=0&amp;inputT=739&amp;rsv_sug4=739</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>27D32DF0-2001-4932-B9AE-9792720391EC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>http://www.goodfon.su/</string>
			<key>url</key>
			<string>http://www.goodfon.su/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2A568686-6AE5-4DFB-81AE-C89EA5AC1CE7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>https://picjumbo.com</string>
			<key>url</key>
			<string>https://picjumbo.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2EF28DC8-B818-4748-963E-4487050E76CA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dd</string>
			<key>text</key>
			<string>Search DangDang for '{query}'</string>
			<key>url</key>
			<string>http://search.dangdang.com/?key={query}&amp;act=input</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>39DF9305-3F4B-48D7-A4EA-D7701ABDF811</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>oc</string>
			<key>text</key>
			<string>Search OpenCourse for '{query}'</string>
			<key>url</key>
			<string>http://c.open.163.com/search/search.htm?query={query}&amp;enc=™#/search/all</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3DD26C5E-D9D8-40BB-AA55-DC9F4C872C96</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>http://wallls.com</string>
			<key>url</key>
			<string>http://wallls.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3F63C391-F5B2-4FD2-AA18-86558D8D98B0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>study</string>
			<key>text</key>
			<string>Search Study163 for '{query}'</string>
			<key>url</key>
			<string>http://study.163.com/search.htm?p={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4FD16D1B-CFBF-4CB2-B0CA-A4FB2D35DF3F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>http://publicdomainarchive.com</string>
			<key>url</key>
			<string>http://publicdomainarchive.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5F2E82CA-D7BC-4AD7-8E95-A34FB0E29BB8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>https://wall.alphacoders.com</string>
			<key>url</key>
			<string>https://wall.alphacoders.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>608F7D10-22DB-45EC-98FE-844C4A9ACC8E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>GitHub</string>
			<key>url</key>
			<string>https://github.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6A508476-362E-49B7-B2D0-106BDF4A1A73</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>http://magdeleine.co/browse/</string>
			<key>url</key>
			<string>http://magdeleine.co/browse/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>705AC516-3727-48F3-A8F7-0C45BBED3854</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>g</string>
			<key>text</key>
			<string>Google.com.hk</string>
			<key>url</key>
			<string>https://www.google.com.hk/#q='{query}'</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7531FA72-3C78-44B6-B049-9D4E8C0AC02D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>http://www.imcreator.com/free</string>
			<key>url</key>
			<string>http://www.imcreator.com/free</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7598A886-798D-43FA-9F38-61F37584B9ED</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sof</string>
			<key>text</key>
			<string>Search StackOverflow for '{query}'</string>
			<key>url</key>
			<string>http://stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>75B396BD-229C-492C-A0C6-8E21445D45A3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>https://unsplash.com</string>
			<key>url</key>
			<string>https://unsplash.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7E3321DA-D65D-4647-AF3F-6624910867B8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>http://www.lifeofpix.com</string>
			<key>url</key>
			<string>http://www.lifeofpix.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>803BBA60-C977-4A08-840E-76EC79DD1891</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tb</string>
			<key>text</key>
			<string>Search Taobao for '{query}'</string>
			<key>url</key>
			<string>https://s.taobao.com/search?q={query}&amp;commend=all&amp;ssid=s5-e&amp;search_type=item&amp;sourceId=tb.index&amp;spm=a21bo.50862.201856-taobao-item.1&amp;ie=utf8&amp;initiative_id=tbindexz_20160724</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8877E3B5-57B0-46BB-BA4B-F650083C0212</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>https://alpha.wallhaven.cc</string>
			<key>url</key>
			<string>https://alpha.wallhaven.cc</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9B83E12B-B41A-48F0-8FA0-77FBE4EBD14E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>https://pixabay.com</string>
			<key>url</key>
			<string>https://pixabay.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9C63CED0-AE82-416A-B2BB-FFFD556D83E0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>icon</string>
			<key>text</key>
			<string>iconfont</string>
			<key>url</key>
			<string>http://www.iconfont.cn</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AA7DDD92-6786-4264-95F2-1C073355ACE8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tm</string>
			<key>text</key>
			<string>TMALL</string>
			<key>url</key>
			<string>https://list.tmall.com/search_product.htm?q={query}&amp;type=p&amp;spm=a220m.1000858.a2227oh.d100&amp;xl=shuibei_1&amp;from=.list.pc_1_suggest</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B60D1D0E-26B6-4A38-A6C9-4FB7F4DBBC9D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zh</string>
			<key>text</key>
			<string>Search ZhiHu for '{query}'</string>
			<key>url</key>
			<string>https://www.zhihu.com/search?type=content&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B92B7E81-2EF9-46A2-B4D1-0235804C7366</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>amap</string>
			<key>text</key>
			<string>Search Amap for '{query}'</string>
			<key>url</key>
			<string>http://ditu.amap.com/search?query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B92C03FB-553C-481E-BAE9-28432DB90DBF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>http://www.vladstudio.com/zh/home/</string>
			<key>url</key>
			<string>http://www.vladstudio.com/zh/home/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BFFCE0E4-55A8-44FC-9FD7-3CE362D216A4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>https://foodiesfeed.com</string>
			<key>url</key>
			<string>https://foodiesfeed.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C4A031BC-1F73-4A1D-9C2B-5957FC30E1F6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jd</string>
			<key>text</key>
			<string>Search JD for '{query}'</string>
			<key>url</key>
			<string>http://search.jd.com/Search?keyword={query}&amp;enc=utf-8&amp;suggest=1.his.0&amp;wq=&amp;pvid=4djgr0ri.jpninw</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C60FF693-BF60-44C7-95B2-D8FF6B796418</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bdt</string>
			<key>text</key>
			<string>Baidu translate</string>
			<key>url</key>
			<string>https://fanyi.baidu.com/#en/zh/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CC97E8D3-2DB9-4C98-B37B-C566DDF5F952</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>http://wallpaperswa.com</string>
			<key>url</key>
			<string>http://wallpaperswa.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F6055D5A-2844-4560-A31A-298FDD8B98D3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wall</string>
			<key>text</key>
			<string>http://www.wallpaperup.com</string>
			<key>url</key>
			<string>http://www.wallpaperup.com</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
